/node_modules
/public/build
/public/storage
/storage/*.key
/vendor
/.idea
.env
.env.backup
.env.production
.phpunit.result.cache
docker-compose.override.yml
Homestead.yaml
Homestead.json
auth.json
npm-debug.log
yarn-error.log
/.zed
/.vscode